In [4]:
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords, wordnet
import pandas as pd
import numpy as np
import gensim
import gensim.corpora as corpora
import re
import time

# the first six rows are irrelevant to our study
first_6_rows = [i for i in range(6)]

#Import data
data1 = pd.read_csv('01_20210618-20210731.csv',skiprows=first_6_rows)
data2 = pd.read_csv('1A_20210801-20210831.csv',skiprows=first_6_rows)
data3 = pd.read_csv('01B_20100630-20110430.csv',skiprows=first_6_rows)
data4 = pd.read_csv('02_20210429-20210617.csv',skiprows=first_6_rows)
data5 = pd.read_csv('2A_20210901-20210930.csv',skiprows=first_6_rows)
data6 = pd.read_csv('03_20210306-20210428.csv',skiprows=first_6_rows)
data7 = pd.read_csv('04_20210120-20210305.csv',skiprows=first_6_rows)
data8 = pd.read_csv('05_20201214-20210119.csv',skiprows=first_6_rows)
data9 = pd.read_csv('06_20201203-20201213.csv',skiprows=first_6_rows)
data10 = pd.read_csv('07_20201105-20201202.csv',skiprows=first_6_rows)
data11 = pd.read_csv('08_20200727-20201104.csv',skiprows=first_6_rows)
data12 = pd.read_csv('09_20200508-20200726.csv',skiprows=first_6_rows)
data13 = pd.read_csv('10_20200222-20200507.csv',skiprows=first_6_rows)
data14 = pd.read_csv('11_20191214-20200221.csv',skiprows=first_6_rows)
data15 = pd.read_csv('12_20190926-20191213.csv',skiprows=first_6_rows)
data16 = pd.read_csv('13_20190627-20190925.csv',skiprows=first_6_rows)
data17 = pd.read_csv('14_20190617-20200626.csv',skiprows=first_6_rows)
data18 = pd.read_csv('15_20190404-20190616.csv',skiprows=first_6_rows)
data19 = pd.read_csv('16_20190219-20190403.csv',skiprows=first_6_rows)
data20 = pd.read_csv('17_20181129-20210218.csv',skiprows=first_6_rows)
data21 = pd.read_csv('18_20180914-20181128.csv',skiprows=first_6_rows)
data22 = pd.read_csv('19_20180628-20180913.csv',skiprows=first_6_rows)
data23 = pd.read_csv('20_20180325-20180627.csv',skiprows=first_6_rows)
data24 = pd.read_csv('21_20180131-20180324.csv',skiprows=first_6_rows)
data25 = pd.read_csv('22_20170930-20180130.csv',skiprows=first_6_rows)
data26 = pd.read_csv('23_20170704-20170929.csv',skiprows=first_6_rows)
data27 = pd.read_csv('24_20170219-20170703.csv',skiprows=first_6_rows)
data28 = pd.read_csv('25_20160715-20170218.csv',skiprows=first_6_rows)
data29 = pd.read_csv('26_20160129-20160714.csv',skiprows=first_6_rows)
data30 = pd.read_csv('27_20150314-20160128.csv',skiprows=first_6_rows)
data31 = pd.read_csv('28_20130813-20150313.csv',skiprows=first_6_rows)
data32 = pd.read_csv('29_20130516-20130812.csv',skiprows=first_6_rows)
data33 = pd.read_csv('30_20110901-20130515.csv',skiprows=first_6_rows)
data34 = pd.read_csv('31_20110501-20110831.csv',skiprows=first_6_rows)
data35 = pd.read_csv('5A_20211201-20211231.csv',skiprows=first_6_rows)
data36 = pd.read_csv('4A_20211101-20211130.csv',skiprows=first_6_rows)
data37 = pd.read_csv('3A_20211001-20211031.csv',skiprows=first_6_rows)
data38 = pd.read_csv('9A_20220610-20220710.csv',skiprows=first_6_rows)
data39 = pd.read_csv('10A_20220711-20220729.csv',skiprows=first_6_rows)
data40 = pd.read_csv('11A_20220730-20221006.csv',skiprows=first_6_rows)
data41 = pd.read_csv('12A_20221007-20221116.csv',skiprows=first_6_rows)
data42 = pd.read_csv('13A_20221117.csv',skiprows=first_6_rows)
data43 = pd.read_csv('14A_20221123-20221130.csv',skiprows=first_6_rows)
data44 = pd.read_csv('15A_20221118-20221120.csv',skiprows=first_6_rows)
data45 = pd.read_csv('16A_20221121-20221122.csv',skiprows=first_6_rows)
data46 = pd.read_csv('6A_20220101-20220227.csv',skiprows=first_6_rows)
data47 = pd.read_csv('7A_20220228-20220424.csv',skiprows=first_6_rows)
data48 = pd.read_csv('8A_202204225-20220609.csv',skiprows=first_6_rows)
data49 = pd.read_csv('17A_20221201-20221231.csv',skiprows=first_6_rows)

#data35, data36, and data37 have 5 or 6 more columns than other files.

data35 = data35.drop(columns=['Entity Info','Reddit Author Awardee Karma', 'Reddit Author Awarder Karma',
'Reddit Author Karma','Subreddit','Subreddit Subscribers'])
data36 = data36.drop(columns=['Reddit Author Awardee Karma', 'Reddit Author Awarder Karma',
'Reddit Author Karma','Subreddit','Subreddit Subscribers'])
data37 = data37.drop(columns=['Reddit Author Awardee Karma', 'Reddit Author Awarder Karma',
'Reddit Author Karma','Subreddit','Subreddit Subscribers'])
data38 = data38.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data39 = data39.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data40 = data40.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data41 = data41.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])
data42 = data42.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])
data43 = data43.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])
data44 = data44.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])
data45 = data45.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data46 = data46.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data47 = data47.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data48 = data48.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])

data49 = data49.drop(columns=['Twitter Likes','Air Type','Broadcast Media Url','Broadcast Type',
                               'Content Source','Content Source','Content Source Name','Entity Info',
                               'Is Syndicated','Media Type','Reddit Author Awardee Karma',
                               'Reddit Author Awarder Karma','Reddit Comments','Reddit Score Upvote Ratio',
                               'Subreddit','Subreddit Subscribers','Reddit Author Karma'])


alldata = [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,
           data14,data15,data16,data17,data18,data19,data20,data21,data22,data23,data24,data25,
           data26,data27,data28,data29,data30,data31,data32,data33,data34,data35,data36,data37,
          data38,data39,data40,data41,data42,data43,data44,data45,data46,data47,data48,data49]


dataset_all = pd.concat(alldata,ignore_index=True)
dataset_all.sort_values("Date",inplace=True)
dataset_all = dataset_all.reset_index(drop=True)

C:\Users\11527\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (48,58,69,70) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
dataset = dataset_all
#preprocessing for label
import nltk
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
b = []
for i,u in dataset.iterrows():
    a = []
    word =''
    for words in str(u['Full Text']).split(): #tokenization
        if 1: #remove @users
            words = words.replace('#',' ') #remove hashtag symbol
            words = words.replace('ȧ','a')
            words = re.sub(r'[^a-zA-Z]', ' ', words)
            if '#' not in words:
                #if 'http:' not in words:
                if 'http:' not in words:#remove URLs
                    if 1 : #remove symbol
                        #if len(words)>1:
                        word += (words+' ')
    doc = ''
    for token in word.split():
        #if len(token) >1: # remove words that have less than 1 characters
        token = token.lower()# lowercase form
        token = lemmatizer.lemmatize(token) #lemmatization
        doc += (token+' ')
    b.append(doc)
dataset['processed for label']=[i for i in b]


label_1_index = []
label_2_index = []
label_3_index = []
label_4_index = []
label_5_index = []
index = []
for i,v in dataset.iterrows():
    #print(v['processed for label'])
    if  "in vitro meat" in v['processed for label'] or 'invitromeat' in v['processed for label'] or 'invitro meat' in v['processed for label']:
        label_1_index.append(i)
        #print(1)
    elif  "cell based meat" in v['processed for label'] or 'cellbasedmeat' in v['processed for label'] or 'cellbased meat' in v['processed for label']:
        label_2_index.append(i)
        #print(2)
    elif "cultivated meat" in v['processed for label'] or 'cultivatedmeat'  in v['processed for label']:
        label_3_index.append(i)
        #print(3)
    elif "cultured meat" in v['processed for label'] or 'culturedmeat' in v['processed for label']:
        label_4_index.append(i)
        #print(4)
    elif "lab grown meat" in v['processed for label'] or 'labgrownmeat' in v['processed for label'] or 'labgrown meat' in v['processed for label']:
        label_5_index.append(i)
        #print(5)

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\11527\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [6]:
dataset.loc[label_1_index,'label'] = 1
dataset.loc[label_2_index,'label'] = 2
dataset.loc[label_3_index,'label'] = 3
dataset.loc[label_4_index,'label'] = 4
dataset.loc[label_5_index,'label'] = 5

year = []
for i,v in dataset.iterrows():
    year.append(v['Date'][:4])
dataset['Year'] = [i for i in year]

day = []
for i, v in dataset.iterrows():
    day.append(v['Date'][:10])
dataset['Day'] = [i for i in day]

month = []
for i, v in dataset.iterrows():
    month.append(v['Date'][:7])
dataset['Month'] = [i for i in month]

containlabel = dataset.loc[(dataset['label']==1)|(dataset['label']==2)|(dataset['label']==3)|(dataset['label']==4)|
                          (dataset['label']==5)]


containlabel = containlabel.drop_duplicates(subset='Full Text', keep='first')

In [7]:
containlabel.shape

(231777, 104)

In [8]:
containlabel.reset_index(drop=True,inplace=True)

In [9]:
containlabel['Tweet'] = containlabel['Full Text']

In [1]:
import pandas as pd
import torch
from torch.utils.data import DataLoader, Dataset, random_split
from transformers import BertTokenizer, BertForSequenceClassification, AdamW, get_linear_schedule_with_warmup

In [2]:
Paris_1 = pd.read_csv('Coding_Paris_Week1.csv')
Paris_2 = pd.read_csv('Coding_Paris_Week2.csv')
Paris_3 = pd.read_csv('Coding_Paris_Week3.csv')
Paris_4 = pd.read_csv('Coding_Paris_Week4.csv')
Paris_5 = pd.read_csv('Coding_Paris_Week5.csv')
Shawn_1 = pd.read_csv('Coding_Shawn_Week1.csv')
Shawn_2 = pd.read_csv('Coding_Shawn_Week2.csv')
Shawn_3 = pd.read_csv('Coding_Shawn_Week3.csv')
Shawn_4 = pd.read_csv('Coding_Shawn_Week4.csv')
Shawn_5 = pd.read_csv('Coding_Shawn_Week5.csv')
Tianli_1 = pd.read_csv('Coding_Tianli_Week1.csv')
Tianli_2 = pd.read_csv('Coding_Tianli_Week2.csv')
Tianli_3 = pd.read_csv('Coding_Tianli_Week3.csv')
Tianli_4 = pd.read_csv('Coding_Tianli_Week4.csv')
Tianli_5 = pd.read_csv('Coding_Tianli_Week5.csv')

In [3]:
# Combine all the data frames into one
combined_df = pd.concat([
    Paris_1, Paris_2, Paris_3, Paris_4, Paris_5,
    Shawn_1, Shawn_2, Shawn_3, Shawn_4, Shawn_5,
    Tianli_1, Tianli_2, Tianli_3, Tianli_4, Tianli_5
], ignore_index=True)

combined_df['Sentiment'] = combined_df['Sentiment'].astype(int)



# Check the combined data frame
combined_df

                                                   Tweet  Sentiment
0      RT @biancale_monash ATTN: Aus women interested...          3
1      The future will be full of lab grown meat: htt...          1
2      The Future Of Meat: 45 In Vitro Meat Recipes Y...          4
3      Some makers of lab-grown meat have adopted a c...          3
4                Lab grown meat doesn’t sit well with me          2
...                                                  ...        ...
22970  I've unexpectedly ended up with David Lewis on...          3
22971      cheap cultivated meat https://t.co/hsXLscDaVS          3
22972  @BobsBlog I mean to be clear, it depends exact...          3
22973  The market for cultured meat is no joke (prese...          3
22974  @guardiannews LAB-GROWN MEAT HITS A MAJOR MILE...          3

[22975 rows x 2 columns]

In [4]:
train_df = combined_df.sample(frac=0.8,random_state=2024)

validation_df = combined_df.drop(train_df.index)

In [5]:
train_df

                                                   Tweet  Sentiment
16487  'Cultured meat' could spell end of traditional...          1
14558  Lab-grown meat is here – but will vegetarians ...          3
1756   RT @GoodFoodScience Did you miss last week's S...          3
7209   Home grown hamburgers? Ew!! - Is 'in vitro mea...          2
317    50 years from now, real meat will be a luxury ...          1
...                                                  ...        ...
5067   @Yea3601 @ItsMeChase1 @ShotgunWillard @unusual...          2
878    RT @NinesCatudio So, would you eat cultivated ...          3
9590   Finally a dream comes true: in-vitro-meat aka ...          1
12755  Lab grown meat !!! Oh my its making my tummy t...          1
11708  Could lab-grown meat soon be the solution to t...          3

[18380 rows x 2 columns]

In [15]:
validation_df

                                                   Tweet  Sentiment
10            @csimpsyo @Tbogin @jonlovett Cultured meat          3
13     RT @ndonyourtable What's the difference betwee...          3
14     #Technology #Tech Lab-Grown Meat Is Coming htt...          3
21     This year is the first time cultivated meat ha...          3
34     RT @NewHarvestOrg 🍗and @UmaValeti, who co-foun...          3
...                                                  ...        ...
22951  @Joseph_Plant What goes into lab grown meat? I...          2
22955  Google Funding Lab Grown Meat… No Animals Kill...          1
22958  RT @Orbyne #LSEForum cultured meat avoids the ...          1
22969  @MusadADroid @AuthorGusPegel The answer would ...          4
22974  @guardiannews LAB-GROWN MEAT HITS A MAJOR MILE...          3

[4595 rows x 2 columns]

In [19]:
#1.Load the data

# Adjust labels from 1-4 to 0-3
train_tweets = train_df['Tweet'].tolist()
train_labels = [label - 1 for label in train_df['Sentiment'].tolist()]

val_tweets = validation_df['Tweet'].tolist()
val_labels = [label - 1 for label in validation_df['Sentiment'].tolist()]

# 2. Define a custom dataset
class SentimentDataset(Dataset):
    def __init__(self, tweets, labels, tokenizer, max_len):
        self.tweets = tweets
        self.labels = labels
        self.tokenizer = tokenizer
        self.max_len = max_len

    def __len__(self):
        return len(self.tweets)

    def __getitem__(self, item):
        tweet = str(self.tweets[item])
        label = self.labels[item]
        encoding = self.tokenizer.encode_plus(
            tweet,
            add_special_tokens=True,
            max_length=self.max_len,
            padding='max_length',
            truncation=True,
            return_attention_mask=True,
            return_tensors='pt',
        )
        return {
            'tweet_text': tweet,
            'input_ids': encoding['input_ids'].flatten(),
            'attention_mask': encoding['attention_mask'].flatten(),
            'labels': torch.tensor(label, dtype=torch.long)
        }

# 3. Prepare the datasets and dataloaders
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
MAX_LEN = 128
BATCH_SIZE = 16
EPOCHS = 3

train_dataset = SentimentDataset(
    tweets=train_tweets, labels=train_labels, tokenizer=tokenizer, max_len=MAX_LEN)
val_dataset = SentimentDataset(
    tweets=val_tweets, labels=val_labels, tokenizer=tokenizer, max_len=MAX_LEN)

train_loader = DataLoader(train_dataset, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=BATCH_SIZE, shuffle=False)

# 4. Load the BERT model
model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=4)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model = model.to(device)

# 5. Define optimizer, scheduler, and loss function
optimizer = AdamW(model.parameters(), lr=2e-5)
total_steps = len(train_loader) * EPOCHS
scheduler = get_linear_schedule_with_warmup(
    optimizer, num_warmup_steps=0, num_training_steps=total_steps
)
loss_fn = torch.nn.CrossEntropyLoss().to(device)

# 6. Train the model
for epoch in range(EPOCHS):
    model.train()
    for batch in train_loader:
        input_ids = batch["input_ids"].to(device)
        attention_mask = batch["attention_mask"].to(device)
        labels = batch["labels"].to(device)

        optimizer.zero_grad()
        outputs = model(input_ids=input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss

        loss.backward()
        optimizer.step()
        scheduler.step()


# 7. Save the model
model.save_pretrained("./sentiment_model")
tokenizer.save_pretrained("./sentiment_model")

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

('./sentiment_model\\tokenizer_config.json',
 './sentiment_model\\special_tokens_map.json',
 './sentiment_model\\vocab.txt',
 './sentiment_model\\added_tokens.json')

In [21]:
validation_df

                                                   Tweet  Sentiment
10            @csimpsyo @Tbogin @jonlovett Cultured meat          3
13     RT @ndonyourtable What's the difference betwee...          3
14     #Technology #Tech Lab-Grown Meat Is Coming htt...          3
21     This year is the first time cultivated meat ha...          3
34     RT @NewHarvestOrg 🍗and @UmaValeti, who co-foun...          3
...                                                  ...        ...
22951  @Joseph_Plant What goes into lab grown meat? I...          2
22955  Google Funding Lab Grown Meat… No Animals Kill...          1
22958  RT @Orbyne #LSEForum cultured meat avoids the ...          1
22969  @MusadADroid @AuthorGusPegel The answer would ...          4
22974  @guardiannews LAB-GROWN MEAT HITS A MAJOR MILE...          3

[4595 rows x 2 columns]

In [23]:
# 1. Import necessary libraries
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

# 2. Define the evaluation function
def evaluate_model(model, data_loader):
    model.eval()
    predictions = []
    true_labels = []
    input_texts = []

    with torch.no_grad():
        for batch in data_loader:
            input_ids = batch["input_ids"].to(device)
            attention_mask = batch["attention_mask"].to(device)
            labels = batch["labels"].to(device)
            tweets = batch["tweet_text"]  # Assuming 'text' is the key containing the tweet text

            outputs = model(input_ids=input_ids, attention_mask=attention_mask)
            logits = outputs.logits
            _, preds = torch.max(logits, dim=1)

            predictions.extend(preds.cpu().numpy())
            true_labels.extend(labels.cpu().numpy())
            input_texts.extend(tweets)  # Add the input text

    return input_texts, true_labels, predictions

# 3. Evaluate the model on the validation set
val_input_texts, val_true_labels, val_predictions = evaluate_model(model, val_loader)

# 4. Calculate evaluation metrics
accuracy = accuracy_score(val_true_labels, val_predictions)
weighted_precision = precision_score(val_true_labels, val_predictions, average='weighted')
weighted_recall = recall_score(val_true_labels, val_predictions, average='weighted')
weighted_f1 = f1_score(val_true_labels, val_predictions, average='weighted')

print(f'Accuracy: {accuracy:.4f}')
print(f'Weighted Precision: {weighted_precision:.4f}')
print(f'Weighted Recall: {weighted_recall:.4f}')
print(f'Weighted F1 Score: {weighted_f1:.4f}')

# 5. Display the classification report
print('\nClassification Report:')
print(classification_report(val_true_labels, val_predictions, digits=4))

# 6. Create and save the DataFrame
results_df = pd.DataFrame({
    'Tweet': val_input_texts,
    'True Label': val_true_labels,
    'Predicted Label': val_predictions
})

# Save as a CSV file
results_df.to_csv('bert_validation_predictions_with_tweets.csv', index=False)
print("Predictions have been saved to 'bert_validation_predictions_with_tweets.csv'")

Accuracy: 0.7867
Weighted Precision: 0.7904
Weighted Recall: 0.7867
Weighted F1 Score: 0.7871

Classification Report:
              precision    recall  f1-score   support

           0     0.6507    0.7528    0.6980      1084
           1     0.6150    0.6179    0.6165       424
           2     0.8822    0.8435    0.8624      2984
           3     0.3226    0.1942    0.2424       103

    accuracy                         0.7867      4595
   macro avg     0.6176    0.6021    0.6048      4595
weighted avg     0.7904    0.7867    0.7871      4595

Predictions have been saved to 'bert_validation_predictions_with_tweets.csv'

In [24]:
results_df

,Tweet,True Label,Predicted Label
0,@csimpsyo @Tbogin @jonlovett Cultured meat,2,2
1,RT @ndonyourtable What's the difference betwee...,2,2
2,#Technology #Tech Lab-Grown Meat Is Coming htt...,2,2
3,This year is the first time cultivated meat ha...,2,2
4,"RT @NewHarvestOrg 🍗and @UmaValeti, who co-foun...",2,2
...,...,...,...
4590,@Joseph_Plant What goes into lab grown meat? I...,1,1
4591,Google Funding Lab Grown Meat… No Animals Kill...,0,0
4592,RT @Orbyne #LSEForum cultured meat avoids the ...,0,0
4593,@MusadADroid @AuthorGusPegel The answer would ...,3,0
4594,@guardiannews LAB-GROWN MEAT HITS A MAJOR MILE...,2,2